<!DOCTYPE html>
<html>
    <header>
        <title> About</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/main.css">
    </header>
    <body>
        <div class="main-contents">
            {{>header}}
            <p>Created by {{name}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>